<es-gallery-modal></es-gallery-modal>
<section class="posts" *ngIf="hasPosts()">
  <article
    class="post"
    [ngClass]="{active: selectedPost && post == selectedPost}"
    in-viewport
    (inViewport)="onUpdateVisibility(post, $event.value)"
    *ngFor="let post of posts.items">

    <div class="post__text-container post__text-container--before">
      <div class="post__date">
        {{formatDate(post.date)}}
      </div>

      <div *ngIf="post.title" class="post__title">
        {{post.title}}
      </div>
    </div>

    <div class="post__photos">
      <a
        class="post__photo"
        [ngClass]="{'post__photo--main': i==0, 'post__photo--thumbnail': i!=0}"
        [href]="getFullsizeUrl(photo)"
        *ngFor="let photo of post.photos; let i = index"
        esGallery
        esGalleryId="mygallery-{{post._id}}"
        [esGalleryImage]=getFullsizeUrl(photo)>

        <img class="post__photo__image" *ngIf="i==0" [src]="getMainImageUrl(photo)">
        <img class="post__photo__image" *ngIf="i!=0" [src]="getThumbnailUrl(photo)">
      </a>
    </div>

    <div class="post__text-container post__text-container--after">
      <div class="post__date">
        {{formatDate(post.date)}}
      </div>

      <div *ngIf="post.title" class="post__title">
        {{post.title}}
      </div>
    </div>
  </article>
</section>
