.posts {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.post {
  display: block;
  border-top: 1px solid #aaaaaa;
  box-sizing: content-box;
  min-height: 500px;
}

.post__date {
  font-size: 1.5em;
}

.post__photos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post__photo {
  display: block;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

.post__photo--main {
  width: 100%;
}

.post__photo--thumbnail {
  width: 32%;
  margin-right: 2%;
  margin-top: 10px;
}

.post__photo:first-child {
  margin-right: 0;
}

.post__photo:nth-child(3n+4) {
  margin-right: 0;
}

.post__photo__image {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .post {
    width: 500px;
  }
  .post__photo--thumbnail {
    width: 160px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .post {
    display: flex;
    min-width: 900px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  .post__text-container {
    flex-grow: 1;
  }

  .post__photos {
    width: 500px;
  }

}
