<section class="list-group" *ngIf="hasPosts()">
  <article
    class="list-group-item post"
    [ngClass]="{active: selectedPost && post == selectedPost}"
    myDropTarget (myDrop)="onDrop($event, post)"
    *ngFor="let post of posts.items">

    <div class="post__date">
      {{formatDate(post.date)}}
    </div>

    <div class="post__title">
      <input [(ngModel)]="post.title">
      <button type="button" (click)="updateTitle(post._id, post.title)">Save</button>
    </div>

    <span class="photos">
      <span class="photo" *ngFor="let photo of post.photos" [myDraggable]="{data: photo}">
        <img [src]="getThumbnailUrl(photo)">
        <section class="photo__actions">
          <button (click)="moveOutPhoto(photo)" class="fa fa-long-arrow-up"
                  title="Move out photo"></button>
        </section>
      </span>
    </span>

    <div class="post__tags">
      {{post.tags}}
    </div>

    <es-add-tag [post]="post"></es-add-tag>

  </article>
</section>

<button (click)="loadNextPage()">Load more</button>
