<section class="list-group" *ngIf="hasPosts()">
  <article
    class="list-group-item post"
    [ngClass]="{active: selectedPost && post == selectedPost}"
    in-viewport
    (inViewport)="onUpdateVisibility(post, $event.value)"
    myDropTarget (myDrop)="onDrop($event, post)"
    *ngFor="let post of posts.items">

    <div class="post__date">
      {{formatDate(post.date)}}
    </div>

    <div class="post__tags">
      <ul>
        <li *ngFor="let tag of post.tags">
          {{tag.name}}
          <button (click)="onRemoveTagClicked(post, tag)">Del</button>
        </li>
      </ul>
    </div>

    <es-add-tag (addTag)="onAddTagClicked(post, $event)"></es-add-tag>

    <div class="post__title">
      <input [(ngModel)]="post.title">
      <button type="button" (click)="updateTitle(post._id, post.title)">Save Title</button>
    </div>

    <span class="photos">
      <span class="photo" *ngFor="let photo of post.photos" [myDraggable]="{data: photo}">
        <img [src]="getThumbnailUrl(photo)">
        <section class="photo__actions">
          <button (click)="moveOutPhoto(photo)" class="fa fa-long-arrow-up"
                  title="Move out photo"></button>
        </section>
      </span>
    </span>

  </article>
</section>
